<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AMapViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08EF37FA1D6C440B0096B444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08EF38131D6C440B0096B444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08EF381E1D6C440B0096B444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
